body, html { 
    overflow-x: hidden; 
}

.thumbnail {
    max-width: 250px;
    max-height: 250px;
}

.home-header {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #625a51;
    font-size: 36px;
}

.contact-header {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
    text-align: left;
    color: #625a51;
    font-size: 36px;
}

.modal-content {
    margin-top: 200px;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

#cart-summary-box {
    position: absolute;
    width: 22%;
    height: 70%;
    right: 6%;
    line-height: 24px;
    font-size: 15px;
    padding: 15px 5px 20px 5px;
}

#cart-summary-box-style {
    position: relative;
    background-color: #F6F6F6;
    padding: 15px 15px 20px 15px;
}
.col-md-9{
    
}

#cart-box {
    position: absolute;
    width: 66%;
    height: 70%;
    left: 6%;
    line-height: 24px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

.quantity-box {
    position: relative;
    border: solid 1px #595959;
}

.col-lg-6 {
    max-width: 25%;
    margin-right: -25px;
}

.input-group>.form-control:not(:last-child) {
    margin-right: -3px;
}

#go-button {
    border: 1px solid #ced4da;
    margin-right: 10px;
}

.account-box {
    border: 1px solid #ced4da;
    border-radius: 15px;
    padding: 15px;
    width: 84%;
}

.account-heading {
    font-size: 24px;
}

.aisle-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: flex-end;
}

.aisle-img {
    width: 100%;
}

.page-footer {
    background-color: #37474F;
    color: white;
    margin-top: 50px;
    bottom: -250px;
    width: 100%;
}

#footer-content {
    margin-left: 28%;
}
